In [2]:
%load_ext autoreload
%autoreload 2
import copy as cp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from src.features.games import GameFeatures
from src.utils import load_data_template, generate_data_template

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
data = load_data_template(season=False)
data.dropna(subset=['a_win'], inplace=True)
data.sample()

    Season team_a team_b  in_target  game_set a_win  DayNum
268   2014   1124   1166       True         0  True   139.0

In [10]:
game_feat = GameFeatures(default_lags=5)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_season, fillna=0)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_tourney, fillna=0)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_season_against_opponent, fillna=0, per_game=True)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_tourney_against_opponent, fillna=0, per_game=True)
data.sample()

,Season,team_a,team_b,in_target,game_set,a_win,DayNum,games_won_in_season_team_a_x,games_won_in_season_team_a_lag-1_x,games_won_in_season_team_a_lag-2_x,...,games_won_in_tourney_against_opponent_team_a_lag-1_y,games_won_in_tourney_against_opponent_team_a_lag-2_y,games_won_in_tourney_against_opponent_team_a_lag-3_y,games_won_in_tourney_against_opponent_team_a_lag-4_y,games_won_in_tourney_against_opponent_team_a_lag-5_y,games_won_in_tourney_against_opponent_team_b_lag-1_y,games_won_in_tourney_against_opponent_team_b_lag-2_y,games_won_in_tourney_against_opponent_team_b_lag-3_y,games_won_in_tourney_against_opponent_team_b_lag-4_y,games_won_in_tourney_against_opponent_team_b_lag-5_y
9913,1997,1390,1448,False,0,True,139.0,18,19.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Event data

In [37]:
import os
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [38]:
events = pd.read_csv('data/Events_2010.csv', nrows=1000)
print(events.shape)
events.head()

(1000, 11)

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType
0,1,2010,7,1143,1293,0,0,0,1143,600578,sub_in
1,2,2010,7,1143,1293,0,0,0,1143,600584,sub_in
2,3,2010,7,1143,1293,0,0,0,1143,600585,sub_in
3,4,2010,7,1143,1293,0,0,10,1143,600581,miss2_lay
4,5,2010,7,1143,1293,0,0,10,1143,600581,reb_off

In [40]:
events = generate_data_template(events, ['EventType'])
print(events.shape)
events.head()

(1000, 6)

  Season team_a team_b  a_win  DayNum  EventType
0   2010   1143   1293   True       7     sub_in
1   2010   1143   1293   True       7     sub_in
2   2010   1143   1293   True       7     sub_in
3   2010   1143   1293   True       7  miss2_lay
4   2010   1143   1293   True       7    reb_off

In [42]:
events = list()
file_names = [file_ for file_ in os.listdir('data/') if 'Events' in file_]
for file in file_names:
    events.append(pd.read_csv('data/' + file, nrows=1000))

events = pd.concat(events).reset_index(drop=True)
print(events.shape)
events.head()

(8000, 11)

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType
0,2502631,2011,7,1228,1414,0,0,23,1228,607151,miss3_jump
1,2502632,2011,7,1228,1414,0,0,23,1414,609791,reb_def
2,2502633,2011,7,1228,1414,0,0,48,1414,609785,miss2_jump
3,2502634,2011,7,1228,1414,0,0,48,1414,609791,reb_off
4,2502635,2011,7,1228,1414,0,2,53,1414,609791,made2_lay

In [43]:
le = LabelEncoder()
le.fit(events['EventType'])
events['EventNum'] = le.transform(events['EventType'])

In [44]:
events.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventNum
0,2502631,2011,7,1228,1414,0,0,23,1228,607151,miss3_jump,15
1,2502632,2011,7,1228,1414,0,0,23,1414,609791,reb_def,17
2,2502633,2011,7,1228,1414,0,0,48,1414,609785,miss2_jump,12
3,2502634,2011,7,1228,1414,0,0,48,1414,609791,reb_off,18
4,2502635,2011,7,1228,1414,0,2,53,1414,609791,made2_lay,7

In [45]:
ohe = OneHotEncoder()
ohe.fit(events['EventNum'].values.reshape([-1, 1]))
ohe_events = pd.DataFrame(ohe.transform(events['EventNum'].values.reshape([-1, 1])).toarray())
ohe_events.columns = le.classes_
ohe_events.head()

,assist,block,foul_pers,foul_tech,made1_free,made2_dunk,made2_jump,made2_lay,made2_tip,made3_jump,...,miss3_jump,reb_dead,reb_def,reb_off,steal,sub_in,sub_out,timeout,timeout_tv,turnover
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
events = pd.concat([events, ohe_events], axis=1)
events.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,...,miss3_jump,reb_dead,reb_def,reb_off,steal,sub_in,sub_out,timeout,timeout_tv,turnover
0,2502631,2011,7,1228,1414,0,0,23,1228,607151,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2502632,2011,7,1228,1414,0,0,23,1414,609791,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2502633,2011,7,1228,1414,0,0,48,1414,609785,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2502634,2011,7,1228,1414,0,0,48,1414,609791,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2502635,2011,7,1228,1414,0,2,53,1414,609791,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
events.groupby(['EventTeamID', 'Season'])[le.classes_].sum()

                    assist  block  foul_pers  foul_tech  made1_free  \
EventTeamID Season
1102        2014      11.0    4.0       18.0        0.0        17.0
1103        2014      10.0    5.0       16.0        0.0         9.0
            2015      17.0    5.0       21.0        0.0        12.0
1104        2013      14.0    4.0       16.0        0.0        14.0
            2015      17.0    9.0       16.0        0.0        17.0
            2016      13.0    6.0       21.0        0.0        15.0
            2017      13.0    8.0       19.0        0.0        18.0
1105        2016      10.0    1.0       25.0        0.0        10.0
1107        2013      13.0    2.0       22.0        0.0         6.0
            2017      16.0    3.0       22.0        0.0        20.0
1108        2010       0.0    0.0        0.0        0.0         0.0
1112        2012      12.0    2.0       21.0        0.0        23.0
            2015       1.0    0.0        0.0        0.0         0.0
            2016       2.0    0.0        2.0        0.0         2.0
            2017       0.0    0.0        1.0        0.0         0.0
1114        2013       4.0    3.0        6.0        0.0         6.0
1119        2014      16.0    5.0       24.0        0.0        10.0
1143        2010      15.0    1.0       14.0        0.0        22.0
1157        2014       6.0    3.0       15.0        0.0        10.0
            2017       7.0    2.0       22.0        0.0        10.0
1182        2013       8.0    6.0       13.0        0.0        15.0
1184        2012      11.0    1.0       18.0        0.0         4.0
1198        2010      15.0    2.0       18.0        0.0        14.0
1228        2011      17.0    8.0       22.0        0.0        13.0
1244        2016       6.0    4.0       25.0        0.0        19.0
1268        2011      15.0    8.0       13.0        0.0        20.0
1277        2017       1.0    0.0        0.0        0.0         0.0
1280        2012      16.0    6.0        9.0        0.0        12.0
1291        2015       0.0    0.0        0.0        0.0         0.0
1293        2010      11.0    3.0       24.0        0.0        10.0
1314        2010      23.0    8.0       19.0        0.0        16.0
1326        2010       3.0    1.0        0.0        0.0         0.0
1334        2016       1.0    0.0        3.0        0.0         0.0
1336        2017       9.0    8.0       23.0        0.0        18.0
1355        2013       8.0    2.0       14.0        0.0         9.0
1370        2011       9.0    1.0       23.0        0.0         9.0
1385        2012       1.0    0.0        1.0        0.0         1.0
1404        2013       4.0    0.0       12.0        0.0         4.0
1406        2015       9.0    2.0       20.0        1.0        11.0
1408        2016      11.0    7.0       21.0        0.0        16.0
1414        2011      12.0    1.0       21.0        0.0        14.0
1420        2015      13.0    0.0       19.0        0.0        14.0
1434        2012      15.0    1.0       23.0        0.0        17.0
1456        2012       1.0    1.0        1.0        0.0         2.0

                    made2_dunk  made2_jump  made2_lay  made2_tip  made3_jump  \
EventTeamID Season
1102        2014           3.0         8.0        5.0        0.0        10.0
1103        2014           0.0         2.0       15.0        0.0         7.0
            2015           0.0         2.0       11.0        0.0        12.0
1104        2013           0.0        16.0        3.0        0.0         6.0
            2015           2.0         9.0       10.0        1.0         7.0
            2016           5.0         7.0       11.0        2.0         4.0
            2017           1.0         2.0        8.0        0.0        10.0
1105        2016           1.0         3.0       11.0        2.0         8.0
1107        2013           1.0        12.0        8.0        0.0         7.0
            2017           0.0        11.0       12.0        0.0         7.0
1108        2010           0.0         0.0        0.0        0.0         1.0
1112        2012           0.0        13.0        6.0        0.0         4.0
            2015           0.0         0.0        0.0        0.0         1.0
            2016           1.0         3.0        1.0        0.0         1.0
            2017           0.0         0.0        0.0        0.0         0.0
1114        2013           0.0         3.0        1.0        1.0         2.0
1119        2014           0.0         2.0        9.0        0.0        12.0
1143        2010           2.0        10.0        7.0        0.0         5.0
1157        2014           0.0         1.0       11.0        0.0         5.0
            2017           0.0         4.0        3.0        1.0         9.0
1182        2013           0.0         6.0        9.0        0.0         7.0
1184        2012           0.0         7.0        8.0        1.0        10.0
1198        2010           0.0        17.0        0.0        0.0         8.0
1228        2011           1.0        13.0        5.0        2.0         8.0
1244        2016           1.0         7.0        4.0        0.0         7.0
1268        2011           3.0         4.0       13.0        0.0         2.0
1277        2017           0.0         1.0        0.0        0.0         0.0
1280        2012           1.0         6.0       12.0        1.0         8.0
1291        2015           0.0         0.0        0.0        0.0         0.0
1293        2010           2.0         9.0        6.0        1.0         8.0
1314        2010           6.0        24.0        0.0        0.0         4.0
1326        2010           1.0         1.0        2.0        0.0         0.0
1334        2016           0.0         1.0        1.0        0.0         1.0
1336        2017           3.0         6.0        9.0        0.0         9.0
1355        2013           0.0        14.0        3.0        0.0         8.0
1370        2011           0.0         5.0       14.0        0.0         3.0
1385        2012           0.0         0.0        0.0        0.0         1.0
1404        2013           0.0         5.0        1.0        0.0         1.0
1406        2015           1.0         4.0        6.0        0.0         7.0
1408        2016           1.0         3.0       11.0        0.0         7.0
1414        2011           0.0         9.0        6.0        0.0         7.0
1420        2015           3.0         1.0       13.0        0.0         3.0
1434        2012           0.0         5.0       10.0        1.0         5.0
1456        2012           0.0         1.0        0.0        0.0         1.0

                      ...     miss3_jump  reb_dead  reb_def  reb_off  steal  \
EventTeamID Season    ...
1102        2014      ...            5.0       3.0     30.0     10.0    8.0
1103        2014      ...           15.0       4.0     19.0     13.0   12.0
            2015      ...           18.0       5.0     25.0      9.0    7.0
1104        2013      ...           15.0       0.0     19.0      8.0    8.0
            2015      ...           16.0       2.0     20.0     14.0   14.0
            2016      ...           13.0       3.0     28.0     10.0   11.0
            2017      ...           16.0       2.0     32.0      7.0    8.0
1105        2016      ...           21.0       2.0     23.0     14.0   12.0
1107        2013      ...           12.0       1.0     21.0     14.0    6.0
            2017      ...            7.0       4.0     31.0     12.0    4.0
1108        2010      ...            0.0       0.0      1.0      0.0    1.0
1112        2012      ...            7.0       3.0     28.0      6.0   10.0
            2015      ...            2.0       0.0      3.0      1.0    0.0
            2016      ...            1.0       0.0      5.0      2.0    0.0
            2017      ...            0.0       0.0      0.0      0.0    0.0
1114        2013      ...            5.0       2.0     14.0      4.0    2.0
1119        2014      ...           32.0       3.0     20.0     14.0    4.0
1143        2010      ...            7.0       5.0     19.0     13.0    8.0
1157        2014      ...            5.0       5.0     19.0      9.0    5.0
            2017      ...           14.0       2.0     26.0     17.0    2.0
1182        2013      ...           21.0       3.0     19.0     20.0    4.0
1184        2012      ...           23.0       2.0     22.0      7.0    6.0
1198        2010      ...           15.0       0.0     16.0     13.0   14.0
1228        2011      ...           16.0       3.0     30.0      9.0    9.0
1244        2016      ...           12.0       3.0     27.0     12.0    7.0
1268        2011      ...            5.0       2.0     22.0     11.0    5.0
1277        2017      ...            0.0       0.0      0.0      0.0    0.0
1280        2012      ...           14.0       4.0     32.0     11.0    9.0
1291        2015      ...            2.0       0.0      2.0      0.0    0.0
1293        2010      ...           13.0       1.0     20.0     11.0    7.0
1314        2010      ...            9.0       3.0     32.0     12.0   10.0
1326        2010      ...            1.0       0.0      4.0      0.0    1.0
1334        2016      ...            3.0       0.0      2.0      1.0    0.0
1336        2017      ...           16.0       3.0     20.0      6.0    7.0
1355        2013      ...           13.0       1.0     19.0      8.0    3.0
1370        2011      ...            8.0       1.0     12.0     12.0   13.0
1385        2012      ...            1.0       1.0      2.0      0.0    1.0
1404        2013      ...            5.0       0.0     12.0      1.0    0.0
1406        2015      ...           14.0       2.0     20.0     14.0    2.0
1408        2016      ...           20.0       4.0     30.0     17.0    6.0
1414        2011      ...           13.0       9.0     26.0     11.0    7.0
1420        2015      ...            9.0       5.0     23.0     12.0    9.0
1434        2012      ...           15.0       3.0     24.0      8.0    4.0
1456        2012      ...            3.0       0.0      5.0      1.0    0.0

                    sub_in  sub_out  timeout  timeout_tv  turnover
EventTeamID Season
1102        2014      27.0     27.0      3.0         1.0      18.0
1103        2014      38.0     38.0      2.0         7.0      12.0
            2015      39.0     39.0      0.0         7.0      12.0
1104        2013      27.0     27.0      2.0         3.0      12.0
            2015      31.0     36.0      1.0         4.0       8.0
            2016      27.0     27.0      2.0         2.0      12.0
            2017      32.0     32.0      2.0         2.0      11.0
1105        2016      20.0     22.0      3.0         4.0      15.0
1107        2013      33.0     33.0      5.0         3.0      12.0
            2017      27.0     27.0      3.0         6.0      15.0
1108        2010       0.0      0.0      1.0         0.0       2.0
1112        2012      45.0     44.0      3.0         3.0      15.0
            2015       0.0      0.0      0.0         0.0       1.0
            2016       3.0      3.0      0.0         0.0       0.0
            2017       0.0      0.0      0.0         0.0       2.0
1114        2013      11.0     11.0      1.0         1.0       5.0
1119        2014      64.0     64.0      5.0         4.0      13.0
1143        2010      20.0     20.0      4.0         4.0      12.0
1157        2014      31.0     31.0      2.0         0.0      18.0
            2017      25.0     25.0      2.0         4.0      13.0
1182        2013      22.0     22.0      3.0         5.0      13.0
1184        2012      33.0     33.0      4.0         3.0      10.0
1198        2010      24.0     24.0      3.0         6.0      20.0
1228        2011      35.0     35.0      1.0         3.0      14.0
1244        2016      14.0     14.0      0.0         4.0      16.0
1268        2011      27.0     27.0      2.0         5.0      23.0
1277        2017       0.0      0.0      0.0         0.0       1.0
1280        2012      20.0     20.0      1.0         5.0      14.0
1291        2015       0.0      0.0      0.0         0.0       0.0
1293        2010      26.0     25.0      5.0         4.0      17.0
1314        2010      42.0     42.0      0.0         0.0      26.0
1326        2010       0.0      0.0      0.0         0.0       1.0
1334        2016       3.0      3.0      0.0         1.0       1.0
1336        2017      46.0     46.0      4.0         3.0      12.0
1355        2013      13.0     13.0      3.0         5.0      13.0
1370        2011      45.0     45.0      3.0         0.0      20.0
1385        2012       1.0      0.0      0.0         0.0       0.0
1404        2013      12.0     12.0      0.0         2.0       4.0
1406        2015      40.0     45.0      4.0         4.0      22.0
1408        2016      28.0     28.0      3.0         4.0      19.0
1414        2011      32.0     32.0      3.0         5.0      14.0
1420        2015      25.0     25.0      4.0         0.0      16.0
1434        2012      36.0     36.0      5.0         4.0      18.0
1456        2012       0.0      0.0      0.0         0.0       1.0

[44 rows x 25 columns]

In [16]:
events['EventType'].unique()

array(['sub_in', 'miss2_lay', 'reb_off', 'made2_jump', 'miss2_jump',
       'assist', 'made3_jump', 'block', 'reb_def', 'foul_pers',
       'miss1_free', 'made1_free', 'miss3_jump', 'turnover', 'sub_out',
       'steal', 'made2_dunk', 'timeout_tv', 'made2_lay', 'timeout',
       'reb_dead', 'made2_tip', 'miss2_dunk', 'miss2_tip', 'foul_tech'], dtype=object)

In [ ]:
def create_target():
    target = pd.read_csv('data/SampleSubmissionStage1.csv').set_index('ID').drop('Pred', axis=1)
    target['Season'] = target.index.map(lambda i: i.split('_')[0])
    target['team_a'] = target.index.map(lambda i: i.split('_')[1])
    target['team_b'] = target.index.map(lambda i: i.split('_')[2])
    target['in_target'] = True
    
    ncaa_games = pd.read_csv('data/NCAATourneyCompactResults.csv')
    ncaa_games['team_a'] = ncaa_games[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) < int(t[1]) else t[1], axis=1)
    ncaa_games['team_b'] = ncaa_games[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) > int(t[1]) else t[1], axis=1)
    ncaa_games['a_win'] = ncaa_games['WTeamID'] == ncaa_games['team_a']
    ncaa_games['ID'] = ncaa_games['Season'].astype(str) + '_' + ncaa_games['team_a'].astype(str) + '_' + ncaa_games['team_b'].astype(str)
    ncaa_games = ncaa_games.set_index('ID')
    
    target = target.join(ncaa_games['a_win'], how='left')    
    return target

In [ ]:
target = create_target()
print target.shape
target.head()

In [ ]:
target_2.to_csv('data/target.csv')

In [ ]:
ncaa_games = pd.read_csv('data/NCAATourneyCompactResults.csv')
ncaa_games = ncaa_games.astype({
    'LTeamID': str,
    'WTeamID': str,
    'Season': str
})
ncaa_games['diff'] = ncaa_games['WScore'] - ncaa_games['LScore']
print(ncaa_games.shape)
ncaa_games.sample()

In [ ]:
regular_games = pd.read_csv('data/RegularSeasonCompactResults.csv')
regular_games = regular_games.astype({
    'LTeamID': str,
    'WTeamID': str,
    'Season': str
})
regular_games['diff'] = regular_games['WScore'] - regular_games['LScore']
print(regular_games.shape)
regular_games.sample()

In [ ]:
data = cp.deepcopy(ncaa_games)
data['team_a'] = data[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) < int(t[1]) else t[1], axis=1)
data['team_b'] = data[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) > int(t[1]) else t[1], axis=1)
data['a_win'] = data['WTeamID'] == data['team_a']
data = data[['Season', 'team_a', 'team_b', 'a_win']]
data = pd.concat([data, target.reset_index(drop=True)]).fillna(0).astype({'a_win': bool, 'in_target': bool})

lags = 5
for team, opponent_team in [('a', 'b'), ('b','a')]:
    
    
    # GAMES WON IN PAST TOURNAMENTS
    won_in_ncaa = ncaa_games\
        .groupby(['WTeamID', 'Season']).count()[['diff']]\
        .rename(columns={'diff': 'won_in_ncaa_{}'.format(team)})
    for l in range(1, lags+1):
        won_in_ncaa[
            'won_in_ncaa_{}_lag-{}'.format(team, l)] = won_in_ncaa.groupby('WTeamID')[
            'won_in_ncaa_{}'.format(team)
        ].shift(l).fillna(0)
    won_in_ncaa.drop('won_in_ncaa_{}'.format(team), inplace=True, axis=1)
    data = pd.merge(data, won_in_ncaa,
                    left_on=['team_{}'.format(team), 'Season'], right_index=True,
                    how='left').fillna(0)
    
    # GAMES WON IN PAST SEASONS
    won_in_season = regular_games\
        .groupby(['WTeamID', 'Season']).count()[['diff']]\
        .rename(columns={'diff': 'won_in_season_{}'.format(team)})
    for l in range(0, lags+1):
        won_in_season[
            'won_in_season_{}_lag-{}'.format(team, l)] = won_in_season.groupby('WTeamID')[
            'won_in_season_{}'.format(team)
        ].shift(l).fillna(0)
    won_in_season.drop('won_in_season_{}'.format(team), inplace=True, axis=1)
    data = pd.merge(data, won_in_season,
                    left_on=['team_{}'.format(team), 'Season'], right_index=True,
                    how='left').fillna(0)
    
    
    # TOURNAMENT GAMES WON AGAINST OPPONENT
    ncaa_wins_against_opponent = ncaa_games\
        .groupby(['Season', 'WTeamID', 'LTeamID']).count()[['diff']]\
        .rename(columns={'diff': 'ncaa_wins_against_opponent_{}'.format(team)})
    for l in range(1, lags+1):
        ncaa_wins_against_opponent[
            'ncaa_wins_against_opponent_{}_lag-{}'.format(team, l)
        ] = ncaa_wins_against_opponent.groupby(['WTeamID', 'LTeamID'])\
            ['ncaa_wins_against_opponent_{}'.format(team)].shift(l)
    ncaa_wins_against_opponent.drop('ncaa_wins_against_opponent_{}'.format(team), inplace=True, axis=1)
    data = pd.merge(data, ncaa_wins_against_opponent,
                    left_on=['Season', 'team_{}'.format(team), 'team_{}'.format(opponent_team)],
                    right_index=True,
                    how='left').fillna(0)
    
    
    # SEASON GAMES WON AGAINST OPPONENT
    season_wins_against_opponent = regular_games\
        .groupby(['Season', 'WTeamID', 'LTeamID']).count()[['diff']]\
        .rename(columns={'diff': 'season_wins_against_opponent_{}'.format(team)})
    for l in range(0, lags+1):
        season_wins_against_opponent[
            'season_wins_against_opponent_{}_lag-{}'.format(team, l)
        ] = season_wins_against_opponent.groupby(['WTeamID', 'LTeamID'])\
            ['season_wins_against_opponent_{}'.format(team)].shift(l)
    season_wins_against_opponent.drop('season_wins_against_opponent_{}'.format(team), inplace=True, axis=1)
    data = pd.merge(data, season_wins_against_opponent,
                    left_on=['Season', 'team_{}'.format(team), 'team_{}'.format(opponent_team)],
                    right_index=True,
                    how='left').fillna(0)
    
    
data = data.dropna()
data.head(5)

In [ ]:
data.shape

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss


X = data[~data.in_target.astype(bool)].drop(['Season', 'team_a', 'team_b', 'a_win', 'in_target'], axis=1)
y = data[~data.in_target.astype(bool)][['a_win']]

kf = KFold(n_splits=8, shuffle=True)
metrics = []
for tr_i, t_i in kf.split(X):
    X_tr, y_tr = X.iloc[tr_i], y.iloc[tr_i]
    X_t, y_t = X.iloc[t_i], y.iloc[t_i]
    xgb = XGBClassifier()
    xgb.fit(X_tr.values, y_tr.values.reshape(-1))
    preds = xgb.predict_proba(X_t.values)
    metric = log_loss(y_t.values, preds)
    print(metric)
    metrics.append(metric)
    
print('Metric Mean: {:.2f} ({:.2f})'.format(np.mean(metrics), np.std(metrics)))

In [ ]:
from xgboost import plot_importance

plt.figure(figsize=(20,4))
plot_importance(xgb, max_num_features=15)
plt.show()

In [ ]:
data.head()

In [ ]:
X_sub = data[data.in_target.astype(bool)].drop(['Season', 'team_a', 'team_b', 'a_win', 'in_target'], axis=1)
y_sub = data[data.in_target.astype(bool)][['Season', 'team_a', 'team_b', 'a_win', 'in_target']]

xgb = XGBClassifier()
xgb.fit(X.values, y.values.reshape(-1))
preds = xgb.predict_proba(X_sub.values)

sub = cp.deepcopy(y_sub)
sub['Pred'] = preds[:,1]
sub['ID'] = sub['Season'].map(str) + '_' + sub['team_a'].map(str) + '_' + sub['team_b'].map(str)
sub.set_index('ID', inplace=True)
sub.drop(['Season', 'team_a', 'team_b', 'a_win', 'in_target'], axis=1, inplace=True)
sub.head()

In [ ]:
y_sub

In [ ]:
plt.figure(figsize=(20,4))
plt.hist(sub['Pred'], bins=100)
plt.show()

In [ ]:
sub.to_csv('submissions/xgb_baseline_2_corrected_lags_and_features.csv')

In [ ]:
###

In [ ]:
target = pd.read_csv('data/SampleSubmissionStage1.csv').set_index('ID').drop('Pred', axis=1)
target['Season'] = target.index.map(lambda i: i.split('_')[0])
target['team_a'] = target.index.map(lambda i: i.split('_')[1])
target['team_b'] = target.index.map(lambda i: i.split('_')[2])
target['in_target'] = True
target.head()

In [ ]:
ncaa_games = pd.read_csv('data/NCAATourneyCompactResults.csv')
ncaa_games['team_a'] = ncaa_games[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) < int(t[1]) else t[1], axis=1)
ncaa_games['team_b'] = ncaa_games[['WTeamID', 'LTeamID']].apply(lambda t: t[0] if int(t[0]) > int(t[1]) else t[1], axis=1)
ncaa_games['a_win'] = ncaa_games['WTeamID'] == ncaa_games['team_a']
ncaa_games['ID'] = ncaa_games['Season'].astype(str) + '_' + ncaa_games['team_a'].astype(str) + '_' + ncaa_games['team_b'].astype(str)
#ncaa_games = ncaa_games[['Season', 'team_a', 'team_b', 'a_win']]
#ncaa_games = pd.concat([ncaa_games, target.reset_index(drop=True)]).fillna(0).astype({'a_win': bool, 'in_target': bool})
ncaa_games = ncaa_games.set_index('ID')
ncaa_games.head()

In [ ]:
np.nansum()

In [ ]:
submission = pd.read_csv('data/SampleSubmissionStage1.csv')
submission.head()

In [ ]:
target = target.join(ncaa_games['a_win']).drop('in_target', axis=1).dropna().sort_values(['Season', 'team_a', 'team_b'])

In [ ]:
target['a_win'] = target['a_win'] * 1
target.to_csv('data/target.csv')

In [ ]:
to_submit = pd.merge(submission, target.reset_index(), how='left', on='ID')
to_submit['Pred'] = to_submit['a_win']
to_submit = to_submit.fillna(0)[['ID', 'Pred']]
to_submit.head()

In [ ]:
(to_submit*1).to_csv('data/ground_truth_submission.csv', index=False)

In [ ]:
## Features

In [ ]:
from src.features.games import GameFeatures

In [ ]:
game_features = GameFeatures()

In [ ]:
game_features.season_games

## Neural net

In [ ]:
from keras import Sequential
from keras.layers import Dense

In [ ]:
train_data = data.loc[~data['in_target']]
train_data.head()

In [ ]:
print train_data['a_win'].shape
sum(train_data['a_win'])

In [ ]:
cols_to_drop = ['Season', 'a_win', 'in_target', 'team_a', 'team_b']

In [ ]:
model = Sequential()
model.add(Dense(12, input_dim=data.shape[1]-len(cols_to_drop), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['binary_crossentropy'])

In [ ]:
# Fit the model
model.fit(train_data.drop(cols_to_drop, axis=1), train_data['a_win']*1, epochs=10, batch_size=10)

In [ ]:
predictions = model.predict(train_data.drop(cols_to_drop, axis=1))

In [ ]:
pd.Series(predictions.reshape(-1)).describe()

In [ ]:
plt.figure(figsize=(15,5))
plt.hist(predictions, bins=100)
plt.show()

In [ ]:
# evaluate the model
scores = model.evaluate(data.drop('a_win', axis=1), data['a_win'])

### Tensorflow nn

In [246]:
%load_ext autoreload
%autoreload 2
from src.features.games import GameFeatures
from src.utils import load_data_template
from src.models.nn.ann import ANN

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [247]:
game_feat = GameFeatures()
data = load_data_template()
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_season, fillna=0)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_tourney, fillna=0)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_season_against_opponent, per_game=True, fillna=0)
data = game_feat.per_team_wrapper(data, game_feat.games_won_in_tourney_against_opponent, per_game=True, fillna=0)
data = data.dropna()
data.sample(10)

,Season,team_a,team_b,in_target,game_set,a_win,DayNum,games_won_in_season_team_a,games_won_in_season_team_a_lag-1,games_won_in_season_team_a_lag-2,...,games_won_in_season_against_opponent_team_b,games_won_in_season_against_opponent_team_b_lag-1,games_won_in_season_against_opponent_team_b_lag-2,games_won_in_season_against_opponent_team_b_lag-3,games_won_in_tourney_against_opponent_team_a_lag-1,games_won_in_tourney_against_opponent_team_a_lag-2,games_won_in_tourney_against_opponent_team_a_lag-3,games_won_in_tourney_against_opponent_team_b_lag-1,games_won_in_tourney_against_opponent_team_b_lag-2,games_won_in_tourney_against_opponent_team_b_lag-3
10601,2008,1242,1424,False,0,True,138.0,30,30.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10481,2006,1133,1338,False,0,True,139.0,20,13.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7680,2017,1211,1462,True,0,True,145.0,32,25.0,31.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9345,1988,1210,1350,False,0,False,139.0,21,16.0,24.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10945,2013,1235,1326,False,0,False,139.0,22,22.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9863,1996,1153,1280,False,0,False,146.0,25,21.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10387,2005,1261,1412,False,0,False,136.0,20,18.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10683,2009,1338,1462,False,0,True,143.0,27,26.0,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10368,2004,1400,1462,False,0,False,144.0,23,22.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3048,2015,1173,1344,True,0,True,137.0,25,23.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [248]:
print(data.shape)
print(data.dropna().shape)

(2117, 35)
(2117, 35)

In [249]:
X = data.loc[~data.in_target].drop(['Season', 'a_win', 'in_target', 'team_a', 'team_b', 'DayNum'], axis=1)
Y = data.loc[~data.in_target, 'a_win']*1
X_eval = data.loc[data.in_target].drop(['Season', 'a_win', 'in_target', 'team_a', 'team_b', 'DayNum'], axis=1)
Y_eval = data.loc[data.in_target, 'a_win']*1

In [250]:
sum(Y)/len(Y)

0.5116279069767442

In [251]:
param_dict = {
    'input_dim': X.shape[1],
    'batch_size': 50,
    'hidden_units': [32],
    'eta': 0.01,
    'num_epochs': 500,
}
print(param_dict)

{'input_dim': 29, 'batch_size': 50, 'hidden_units': [32], 'eta': 0.01, 'num_epochs': 500}

In [254]:
ann = ANN(**param_dict)

In [255]:
ann.train(X, Y, X_eval, Y_eval, verbose=True)

Epoch: 000 train_loss=0.761 eval_loss=0.514
Epoch: 005 train_loss=0.382 eval_loss=0.455
Epoch: 010 train_loss=0.368 eval_loss=0.459
Epoch: 015 train_loss=0.399 eval_loss=0.407
Epoch: 020 train_loss=0.363 eval_loss=0.429
Epoch: 025 train_loss=0.350 eval_loss=0.447
Epoch: 030 train_loss=0.351 eval_loss=0.455
Epoch: 035 train_loss=0.361 eval_loss=0.505
Epoch: 040 train_loss=0.347 eval_loss=0.407
Epoch: 045 train_loss=0.343 eval_loss=0.407
Epoch: 050 train_loss=0.341 eval_loss=0.406
Epoch: 055 train_loss=0.340 eval_loss=0.404
Epoch: 060 train_loss=0.339 eval_loss=0.401
Epoch: 065 train_loss=0.339 eval_loss=0.397
Epoch: 070 train_loss=0.344 eval_loss=0.415
Epoch: 075 train_loss=0.338 eval_loss=0.442
Epoch: 080 train_loss=0.337 eval_loss=0.455
Epoch: 085 train_loss=0.337 eval_loss=0.464
Epoch: 090 train_loss=0.337 eval_loss=0.464
Epoch: 095 train_loss=0.340 eval_loss=0.470
Epoch: 100 train_loss=0.340 eval_loss=0.456
Epoch: 105 train_loss=0.345 eval_loss=0.451
Epoch: 110 train_loss=0.336 eval_loss=0.409
Epoch: 115 train_loss=0.335 eval_loss=0.411
Epoch: 120 train_loss=0.336 eval_loss=0.409
Epoch: 125 train_loss=0.335 eval_loss=0.407
Epoch: 130 train_loss=0.335 eval_loss=0.410
Epoch: 135 train_loss=0.335 eval_loss=0.409
Epoch: 140 train_loss=0.336 eval_loss=0.400
Epoch: 145 train_loss=0.339 eval_loss=0.437
Epoch: 150 train_loss=0.337 eval_loss=0.401
Epoch: 155 train_loss=0.335 eval_loss=0.409
Epoch: 160 train_loss=0.335 eval_loss=0.406
Epoch: 165 train_loss=0.337 eval_loss=0.403
Epoch: 170 train_loss=0.340 eval_loss=0.404
Epoch: 175 train_loss=0.339 eval_loss=0.441
Epoch: 180 train_loss=0.342 eval_loss=0.459
Epoch: 185 train_loss=0.336 eval_loss=0.404
Epoch: 190 train_loss=0.335 eval_loss=0.413
Epoch: 195 train_loss=0.335 eval_loss=0.416
Epoch: 200 train_loss=0.340 eval_loss=0.409
Epoch: 205 train_loss=0.342 eval_loss=0.450
Epoch: 210 train_loss=0.340 eval_loss=0.432
Epoch: 215 train_loss=0.342 eval_loss=0.449
Epoch: 220 train_loss=0.342 eval_loss=0.437
Epoch: 225 train_loss=0.336 eval_loss=0.407
Epoch: 230 train_loss=0.335 eval_loss=0.405
Epoch: 235 train_loss=0.334 eval_loss=0.415
Epoch: 240 train_loss=0.336 eval_loss=0.413
Epoch: 245 train_loss=0.341 eval_loss=0.426
Epoch: 250 train_loss=0.340 eval_loss=0.439
Epoch: 255 train_loss=0.338 eval_loss=0.418
Epoch: 260 train_loss=0.340 eval_loss=0.444
Epoch: 265 train_loss=0.337 eval_loss=0.412
Epoch: 270 train_loss=0.339 eval_loss=0.434
Epoch: 275 train_loss=0.340 eval_loss=0.422
Epoch: 280 train_loss=0.335 eval_loss=0.399
Epoch: 285 train_loss=0.337 eval_loss=0.404
Epoch: 290 train_loss=0.335 eval_loss=0.406
Epoch: 295 train_loss=0.341 eval_loss=0.414
Epoch: 300 train_loss=0.332 eval_loss=0.400
Epoch: 305 train_loss=0.337 eval_loss=0.443
Epoch: 310 train_loss=0.336 eval_loss=0.400
Epoch: 315 train_loss=0.338 eval_loss=0.416
Epoch: 320 train_loss=0.332 eval_loss=0.400
Epoch: 325 train_loss=0.337 eval_loss=0.417
Epoch: 330 train_loss=0.336 eval_loss=0.398
Epoch: 335 train_loss=0.336 eval_loss=0.455
Epoch: 340 train_loss=0.331 eval_loss=0.397
Epoch: 345 train_loss=0.332 eval_loss=0.400
Epoch: 350 train_loss=0.335 eval_loss=0.473
Epoch: 355 train_loss=0.336 eval_loss=0.430
Epoch: 360 train_loss=0.339 eval_loss=0.407
Epoch: 365 train_loss=0.338 eval_loss=0.390
Epoch: 370 train_loss=0.334 eval_loss=0.409
Epoch: 375 train_loss=0.339 eval_loss=0.414
Epoch: 380 train_loss=0.336 eval_loss=0.453
Epoch: 385 train_loss=0.332 eval_loss=0.403
Epoch: 390 train_loss=0.338 eval_loss=0.405
Epoch: 395 train_loss=0.335 eval_loss=0.426
Epoch: 400 train_loss=0.331 eval_loss=0.415
Epoch: 405 train_loss=0.331 eval_loss=0.395
Epoch: 410 train_loss=0.331 eval_loss=0.394
Epoch: 415 train_loss=0.339 eval_loss=0.443
Epoch: 420 train_loss=0.333 eval_loss=0.391
Epoch: 425 train_loss=0.333 eval_loss=0.410
Epoch: 430 train_loss=0.333 eval_loss=0.417
Epoch: 435 train_loss=0.337 eval_loss=0.406
Epoch: 440 train_loss=0.336 eval_loss=0.425
Epoch: 445 train_loss=0.334 eval_loss=0.395
Epoch: 450 train_loss=0.337 eval_loss=0.431
Epoch: 455 train_loss=0.336 eval_loss=0.443
Epoch: 460 train_loss=0.338 eval_loss=0.419
Epoch: 465 train_loss=0.338 eval_loss=0.438
Epoch: 470 train_loss=0.331 eval_loss=0.397
Epoch: 475 train_loss=0.331 eval_loss=0.391
Epoch: 480 train_loss=0.331 eval_loss=0.393
Epoch: 485 train_loss=0.336 eval_loss=0.451
Epoch: 490 train_loss=0.336 eval_loss=0.418
Epoch: 495 train_loss=0.334 eval_loss=0.430

(0.33330241501331331, 0.43034416)

In [56]:
X.shape

(11229, 29)

In [124]:
ann.layers

{'l_0': <tf.Tensor 'add:0' shape=(?, 32) dtype=float32>}

In [125]:
ann.weights

{'w_0': <tf.Variable 'w_0:0' shape=(28, 32) dtype=float32_ref>,
 'w_out': <tf.Variable 'w_out:0' shape=(32, 2) dtype=float32_ref>}

In [216]:
## Random search

In [272]:
from src.models.random_search import RandomSearch

In [273]:
rs = RandomSearch('nn', ANN, X, Y, X_eval, Y_eval, iterations=50)

In [274]:
performance = rs.search()

{'input_dim': 29, 'eta': 0.014844844844844845, 'dropout': 0.84684684684684686, 'hidden_units': [37, 113], 'batch_size': 108, 'num_epochs': 297, 'train_loss': 0.10907566712962258, 'eval_loss': 0.69390225}
{'input_dim': 29, 'eta': 0.045035035035035038, 'dropout': 0.03403403403403403, 'hidden_units': [107, 24], 'batch_size': 112, 'num_epochs': 401, 'train_loss': 1.1808460525103979, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.034304304304304305, 'dropout': 0.073073073073073078, 'hidden_units': [24, 5], 'batch_size': 42, 'num_epochs': 429, 'train_loss': 0.72686848895890377, 'eval_loss': 0.69295365}
{'input_dim': 29, 'eta': 0.040070070070070067, 'dropout': 0.79379379379379378, 'hidden_units': [92], 'batch_size': 24, 'num_epochs': 359, 'train_loss': 25.268472939729698, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.021771771771771774, 'dropout': 0.24224224224224225, 'hidden_units': [42, 66], 'batch_size': 54, 'num_epochs': 223, 'train_loss': 0.43653480101514741, 'eval_loss': 0.6934343}
{'input_dim': 29, 'eta': 0.022692692692692692, 'dropout': 0.81881881881881879, 'hidden_units': [104, 111, 54], 'batch_size': 114, 'num_epochs': 472, 'train_loss': 0.99179974773473911, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.032582582582582585, 'dropout': 0.096096096096096095, 'hidden_units': [115, 23, 15], 'batch_size': 88, 'num_epochs': 206, 'train_loss': 0.16546923531727356, 'eval_loss': 0.69342297}
{'input_dim': 29, 'eta': 0.040910910910910911, 'dropout': 0.85285285285285284, 'hidden_units': [15], 'batch_size': 52, 'num_epochs': 298, 'train_loss': 0.32700859898558038, 'eval_loss': 0.39196676}
{'input_dim': 29, 'eta': 0.044954954954954954, 'dropout': 0.76076076076076071, 'hidden_units': [56, 84], 'batch_size': 29, 'num_epochs': 174, 'train_loss': 17.058972720442142, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.039789789789789788, 'dropout': 0.36936936936936937, 'hidden_units': [56], 'batch_size': 63, 'num_epochs': 395, 'train_loss': 3.7970318794250488, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.040830830830830833, 'dropout': 0.83983983983983979, 'hidden_units': [102, 63, 108], 'batch_size': 55, 'num_epochs': 123, 'train_loss': 2.9985664671117611, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.031861861861861865, 'dropout': 0.43443443443443441, 'hidden_units': [81], 'batch_size': 6, 'num_epochs': 171, 'train_loss': 404.29555553197901, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.010400400400400401, 'dropout': 0.36336336336336333, 'hidden_units': [17, 70, 44], 'batch_size': 23, 'num_epochs': 483, 'train_loss': 1.8385585300300431, 'eval_loss': 0.45069459}
{'input_dim': 29, 'eta': 0.038588588588588588, 'dropout': 0.45245245245245247, 'hidden_units': [32, 65], 'batch_size': 14, 'num_epochs': 465, 'train_loss': 74.258369905608035, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.03082082082082082, 'dropout': 0.38738738738738737, 'hidden_units': [53], 'batch_size': 8, 'num_epochs': 287, 'train_loss': 237.99375230073929, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.040630630630630632, 'dropout': 0.33833833833833832, 'hidden_units': [82], 'batch_size': 21, 'num_epochs': 184, 'train_loss': 34.538776783716145, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.011121121121121121, 'dropout': 0.98398398398398401, 'hidden_units': [30, 121, 59], 'batch_size': 121, 'num_epochs': 359, 'train_loss': 0.20101751768884582, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.049919919919919918, 'dropout': 0.38638638638638639, 'hidden_units': [20, 82], 'batch_size': 101, 'num_epochs': 262, 'train_loss': 1.3999249958755948, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.041511511511511515, 'dropout': 0.93393393393393398, 'hidden_units': [63, 9, 47], 'batch_size': 103, 'num_epochs': 285, 'train_loss': 0.18573164534800263, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.047237237237237238, 'dropout': 0.21921921921921922, 'hidden_units': [96, 65, 69], 'batch_size': 90, 'num_epochs': 462, 'train_loss': 1.7451322714487705, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.037627627627627627, 'dropout': 0.25425425425425424, 'hidden_units': [114, 26], 'batch_size': 109, 'num_epochs': 154, 'train_loss': 0.10175669412000463, 'eval_loss': 0.69366002}
{'input_dim': 29, 'eta': 0.018048048048048049, 'dropout': 0.025025025025025023, 'hidden_units': [85, 114, 24], 'batch_size': 23, 'num_epochs': 136, 'train_loss': 2.41216873086017, 'eval_loss': 0.69294703}
{'input_dim': 29, 'eta': 0.025495495495495495, 'dropout': 0.95595595595595595, 'hidden_units': [17, 52, 121], 'batch_size': 13, 'num_epochs': 450, 'train_loss': 16.51383213813488, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.042112112112112111, 'dropout': 0.43443443443443441, 'hidden_units': [24, 37, 80], 'batch_size': 52, 'num_epochs': 135, 'train_loss': 0.4670534225610587, 'eval_loss': 0.69296426}
{'input_dim': 29, 'eta': 0.023333333333333331, 'dropout': 0.88788788788788786, 'hidden_units': [32, 80, 103], 'batch_size': 20, 'num_epochs': 306, 'train_loss': 15.285400217771532, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.033383383383383383, 'dropout': 0.16616616616616617, 'hidden_units': [18], 'batch_size': 102, 'num_epochs': 181, 'train_loss': 0.080820811145445898, 'eval_loss': 0.40470135}
{'input_dim': 29, 'eta': 0.032542542542542539, 'dropout': 0.84484484484484479, 'hidden_units': [119, 30, 65], 'batch_size': 15, 'num_epochs': 231, 'train_loss': 15.03144769072532, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.036466466466466466, 'dropout': 0.4144144144144144, 'hidden_units': [123, 98, 78], 'batch_size': 78, 'num_epochs': 242, 'train_loss': 2.3154531014271269, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.03802802802802803, 'dropout': 0.15215215215215216, 'hidden_units': [51, 57, 101], 'batch_size': 118, 'num_epochs': 222, 'train_loss': 1.0013038990861278, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.016806806806806806, 'dropout': 0.6476476476476476, 'hidden_units': [102, 123, 55], 'batch_size': 74, 'num_epochs': 471, 'train_loss': 0.22479730763950864, 'eval_loss': 0.69368839}
{'input_dim': 29, 'eta': 0.042552552552552553, 'dropout': 0.74874874874874875, 'hidden_units': [51], 'batch_size': 58, 'num_epochs': 353, 'train_loss': 4.422414664564462, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.048518518518518516, 'dropout': 0.02002002002002002, 'hidden_units': [16, 85], 'batch_size': 12, 'num_epochs': 371, 'train_loss': 101.07389040788009, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.017687687687687689, 'dropout': 0.38838838838838841, 'hidden_units': [96], 'batch_size': 64, 'num_epochs': 391, 'train_loss': 3.4353266134858131, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.023733733733733733, 'dropout': 0.5025025025025025, 'hidden_units': [42], 'batch_size': 26, 'num_epochs': 434, 'train_loss': 1.7553697460545945, 'eval_loss': 0.49662894}
{'input_dim': 29, 'eta': 0.03850850850850851, 'dropout': 0.61461461461461464, 'hidden_units': [45, 12], 'batch_size': 116, 'num_epochs': 147, 'train_loss': 0.089643210172653198, 'eval_loss': 0.69372785}
{'input_dim': 29, 'eta': 0.026776776776776777, 'dropout': 0.77577577577577572, 'hidden_units': [90, 4, 89], 'batch_size': 16, 'num_epochs': 370, 'train_loss': 4.9848830513656139, 'eval_loss': 0.69290489}
{'input_dim': 29, 'eta': 0.018368368368368367, 'dropout': 0.68768768768768773, 'hidden_units': [23], 'batch_size': 117, 'num_epochs': 498, 'train_loss': 0.058997465504540339, 'eval_loss': 0.3883234}
{'input_dim': 29, 'eta': 0.035625625625625629, 'dropout': 0.93793793793793789, 'hidden_units': [102], 'batch_size': 106, 'num_epochs': 397, 'train_loss': 1.2609298948971732, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.039589589589589587, 'dropout': 0.62962962962962965, 'hidden_units': [70], 'batch_size': 44, 'num_epochs': 380, 'train_loss': 7.517892577431418, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.049319319319319321, 'dropout': 0.037037037037037035, 'hidden_units': [100, 98], 'batch_size': 32, 'num_epochs': 126, 'train_loss': 14.717206478118896, 'eval_loss': 7.878624}
{'input_dim': 29, 'eta': 0.022252252252252254, 'dropout': 0.92892892892892887, 'hidden_units': [92, 51, 105], 'batch_size': 101, 'num_epochs': 385, 'train_loss': 0.20893452191116788, 'eval_loss': 8.2394772}

{'input_dim': 29, 'eta': 0.02033033033033033, 'dropout': 0.61761761761761758, 'hidden_units': [103], 'batch_size': 82, 'num_epochs': 448, 'train_loss': 0.12431301649023843, 'eval_loss': 0.40530008}
{'input_dim': 29, 'eta': 0.033943943943943941, 'dropout': 0.90590590590590592, 'hidden_units': [103], 'batch_size': 17, 'num_epochs': 403, 'train_loss': 49.915901759091618, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.032862862862862864, 'dropout': 0.7877877877877878, 'hidden_units': [109, 95, 55], 'batch_size': 29, 'num_epochs': 172, 'train_loss': 16.565774720290609, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.035505505505505505, 'dropout': 0.48748748748748749, 'hidden_units': [120, 83], 'batch_size': 36, 'num_epochs': 134, 'train_loss': 0.98336579567856264, 'eval_loss': 0.69299608}
{'input_dim': 29, 'eta': 0.025935935935935933, 'dropout': 0.91091091091091092, 'hidden_units': [71], 'batch_size': 88, 'num_epochs': 159, 'train_loss': 1.8794733773578298, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.039589589589589587, 'dropout': 0.82282282282282282, 'hidden_units': [101, 69, 46], 'batch_size': 124, 'num_epochs': 335, 'train_loss': 0.41128623870111275, 'eval_loss': 8.2394772}
{'input_dim': 29, 'eta': 0.04715715715715716, 'dropout': 0.40740740740740738, 'hidden_units': [69, 65, 23], 'batch_size': 57, 'num_epochs': 306, 'train_loss': 4.4050335382160384, 'eval_loss': 9.9234581}
{'input_dim': 29, 'eta': 0.020530530530530531, 'dropout': 0.33633633633633631, 'hidden_units': [42, 33], 'batch_size': 121, 'num_epochs': 187, 'train_loss': 0.052515871022358412, 'eval_loss': 0.33949575}
{'input_dim': 29, 'eta': 0.011161161161161162, 'dropout': 0.7517517517517518, 'hidden_units': [127], 'batch_size': 9, 'num_epochs': 338, 'train_loss': 12.325694810185164, 'eval_loss': 0.49148083}

In [ ]:
performance.head()