In [1]:
import pandas as pd

In [8]:
years = list(range(2010, 2018))

In [6]:
cities = pd.read_csv('data/Cities.csv')
cities.sample()

     CityID        City State
159    4160  Huntsville    TX

In [12]:
all_events = []
for y in years:
    events = pd.read_csv('data/Events_{}.csv'.format(y))
    all_events.append(events)

events = pd.concat(all_events)
events.shape

(20434639, 11)

In [21]:
events.sample()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType
487399,8016710,2013,26,1182,1263,0,0,2358,1263,618081,foul_pers

In [22]:
all_players = []
for y in years:
    players = pd.read_csv('data/players_{}.csv'.format(y))
    all_players.append(players)

players = pd.concat(all_players)
players.shape

(42766, 4)

In [23]:
players.sample()

      PlayerID  Season  TeamID         PlayerName
1846    617601    2013    1229  CARMICHAEL_JACKIE

In [28]:
conference_tourney_games = pd.read_csv('data/ConferenceTourneyGames.csv')
conference_tourney_games.sample()

      Season ConfAbbrev  DayNum  WTeamID  LTeamID
4060    2016    big_ten     128     1228     1278

In [31]:
conferences = pd.read_csv('data/Conferences.csv')
conferences.sample()

   ConfAbbrev              Description
27        mac  Mid-American Conference

In [30]:
game_cities = pd.read_csv('data/GameCities.csv')
game_cities.sample()

       Season  DayNum  WTeamID  LTeamID   CRType  CityID
24672    2014      80     1284     1193  Regular    4366

In [32]:
!ls data

Cities.csv                         Players_2010.csv
ConferenceTourneyGames.csv         Players_2011.csv
Conferences.csv                    Players_2012.csv
Events_2010.csv                    Players_2013.csv
Events_2011.csv                    Players_2014.csv
Events_2012.csv                    Players_2015.csv
Events_2013.csv                    Players_2016.csv
Events_2014.csv                    Players_2017.csv
Events_2015.csv                    RegularSeasonCompactResults.csv
Events_2016.csv                    RegularSeasonDetailedResults.csv
Events_2017.csv                    Seasons.csv
GameCities.csv                     SecondaryTourneyCompactResults.csv
MasseyOrdinals.csv                 SecondaryTourneyTeams.csv
NCAATourneyCompactResults.csv      TeamCoaches.csv
NCAATourneyDetailedResults.csv     TeamConferences.csv
NCAATourneySeedRoundSlots.csv      TeamSpellings.csv
NCAATourneySeeds.csv               Teams.csv
NCAATourneySlots.csv

In [34]:
massey_ordinals = pd.read_csv('data/MasseyOrdinals.csv')
massey_ordinals.sample()

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
2255860    2014            121        KPK    1316          230