In [5]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt
from src.models.game_set import GameSetModel
pd.options.display.float_format = '{:.2f}'.format

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
os.environ['BETFAIR_USERNAME'] = 'Westermann'
os.environ['BETFAIR_PASSWORD'] = 'JavisM0m'
os.environ['BETFAIR_API_KEY'] = 'UPKD93WPOSKJWPq5'
os.environ['BETFAIR_API_CERTS_DIR'] = '/Users/jonaspaulwestermann/Dev/marchmadness/certs/'

In [7]:
from src.models.game_set import GameModel
gsm = GameSetModel() 
table = gsm.get_prediction_table()
table[table['E(r)'] > 1].sort_values('E(r)', ascending=False)

,eventName,sortPriority,runnerName,external_id,price_min,price_max,price_std,price_mean,pred,E(r)
10,UT Arlington @ UL Lafayette,1,UT Arlington,1426,2.88,3.95,0.76,3.42,0.95,3.76
12,Yale @ Pennsylvania,1,Yale,1463,3.00,3.90,0.46,3.52,0.94,3.67
6,Memphis U @ Cincinnati,1,Memphis U,1272,8.00,36.00,19.80,22.00,0.07,2.38
1,Alabama @ Kentucky,2,Kentucky,1246,1.53,1.69,0.11,1.61,0.95,1.60
3,Cornell @ Harvard,2,Harvard,1217,1.37,1.37,nan,1.37,0.98,1.34
5,MD Baltimore Co @ Vermont,2,Vermont,1436,1.15,1.22,0.04,1.18,0.94,1.15
9,St. Josephs @ Rhode Island,2,Rhode Island,1348,1.26,1.27,0.01,1.27,0.90,1.14
7,Memphis U @ Cincinnati,2,Cincinnati,1153,1.03,1.14,0.08,1.08,0.93,1.06

In [23]:
gsm.model.cross_validate(n=10)

      log_loss  ncaa_log_loss
mean      0.62           0.62
std       0.02           0.02
min       0.59           0.59
max       0.65           0.65