In [41]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt
from src.models.game_set import GameSetModel
pd.options.display.float_format = '{:.2f}'.format

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
os.environ['BETFAIR_USERNAME'] = 'Westermann'
os.environ['BETFAIR_PASSWORD'] = 'JavisM0m'
os.environ['BETFAIR_API_KEY'] = 'UPKD93WPOSKJWPq5'
os.environ['BETFAIR_API_CERTS_DIR'] = '/Users/jonaspaulwestermann/Dev/marchmadness/certs/'

In [46]:
from src.models.game import GameModel
from src.models.game_set import GameSetModel
gsm = GameSetModel() 
table = gsm.get_prediction_table()
table[table['E(r)'] > 1].sort_values('E(r)', ascending=False)

,eventName,sortPriority,runnerName,external_id,price_min,price_max,price_std,price_mean,pred,E(r)
6,Memphis U @ Cincinnati,1,Memphis U,1272,8.00,36.00,19.80,22.00,0.36,13.07
8,St. Josephs @ Rhode Island,1,St. Josephs,1386,5.20,5.40,0.14,5.30,0.54,2.92
10,UT Arlington @ UL Lafayette,1,UT Arlington,1426,3.00,4.10,0.60,3.68,0.63,2.58
12,Yale @ Pennsylvania,1,Yale,1463,2.78,3.35,0.30,3.06,0.63,2.11
2,Cornell @ Harvard,1,Cornell,1165,2.84,3.65,0.46,3.12,0.37,1.35
0,Alabama @ Kentucky,1,Alabama,1104,2.54,3.20,0.36,2.87,0.37,1.19
1,Alabama @ Kentucky,2,Kentucky,1246,1.46,1.65,0.10,1.55,0.63,1.04

In [47]:
gsm.model.cross_validate(n=10)

      log_loss  ncaa_log_loss
mean      0.36           0.36
std       0.02           0.02
min       0.33           0.33
max       0.40           0.40