In [5]:
import src
from src.utils import load_data_template
from src.features.games import GameFeatures

In [6]:
data = load_data_template()
data.sample()

      DayNum Season  a_win in_target team_a team_b
5012     NaN   2016   True      True   1151   1201

In [8]:
import importlib
importlib.reload(src.features.games)


game_feat = GameFeatures()
features = data
features = game_feat.per_team_wrapper(features, game_feat.games_won_in_season, fillna=0)
features = game_feat.per_team_wrapper(features, game_feat.games_won_in_tourney, fillna=0)
features = game_feat.per_team_wrapper(features, game_feat.games_won_in_season_against_opponent, fillna=0, per_game=True)
features = game_feat.per_team_wrapper(features, game_feat.games_won_in_tourney_against_opponent, fillna=0, per_game=True)
features.tail()

,DayNum,Season,a_win,in_target,team_a,team_b,games_won_in_season_team_a,games_won_in_season_team_a_lag-1,games_won_in_season_team_a_lag-2,games_won_in_season_team_a_lag-3,games_won_in_tourney_team_a_lag-1,games_won_in_tourney_team_a_lag-2,games_won_in_tourney_team_a_lag-3,games_won_in_season_against_opponent_team_a,games_won_in_season_against_opponent_team_a_lag-1,games_won_in_season_against_opponent_team_a_lag-2,games_won_in_season_against_opponent_team_a_lag-3,games_won_in_tourney_against_opponent_team_a_lag-1,games_won_in_tourney_against_opponent_team_a_lag-2,games_won_in_tourney_against_opponent_team_a_lag-3
9107,0.0,2017,True,True,1455,1458,29.0,23.0,27.0,33.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9108,0.0,2017,True,True,1455,1462,29.0,23.0,27.0,33.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9109,0.0,2017,True,True,1457,1458,24.0,20.0,16.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9110,0.0,2017,True,True,1457,1462,24.0,20.0,16.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9111,0.0,2017,True,True,1458,1462,25.0,20.0,31.0,26.0,2.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0