In [1]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt
from src.models.game_set import GameModel
from src.utils import load_target_sample
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
temp = load_target_sample()
temp.sample(3)

               Season team_a team_b  in_target game_set
ID
2018_1281_1380   2018   1281   1380       True     ncaa
2018_1222_1364   2018   1222   1364       True     ncaa
2018_1436_1452   2018   1436   1452       True     ncaa

In [ ]:
temp = load_target_sample().astype({'Season': int})
temp['a_win'] = np.nan
temp['DayNum'] = 366
temp['game_set'] = 0
m = GameModel(temp)

In [ ]:
m.cross_validate()