In [1]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt
from src.models.game_set import GameModel
from src.utils import load_target_sample
pd.options.display.float_format = '{:.2f}'.format

In [2]:
temp = load_target_sample()
temp.sample(3)

               Season team_a team_b  in_target game_set
ID
2018_1418_1436   2018   1418   1436       True     ncaa
2018_1242_1326   2018   1242   1326       True     ncaa
2018_1355_1437   2018   1355   1437       True     ncaa

In [3]:
temp = load_target_sample().astype({'Season': int})
temp['a_win'] = np.nan
temp['DayNum'] = 366
temp['game_set'] = 0
m = GameModel(temp)

Running Feature Pipeline
-- Seeds --
(2117, 9)
Feature Pipeline Clock: 0 Seconds
Fit Features Loaded: (2117, 3)
Running Feature Pipeline
-- Seeds --
(2278, 9)
Feature Pipeline Clock: 0 Seconds
Pred Features Loaded: (2278, 3)

In [9]:
m.pred_features

                game_set  seed_team_a  seed_team_b
ID
2018_1104_1112         0            7            4
2018_1104_1113         0            7            8
2018_1104_1116         0            7           10
2018_1104_1120         0            7            2
2018_1104_1124         0            7           11
2018_1104_1125         0            7           14
2018_1104_1137         0            7           14
2018_1104_1138         0            7           13
2018_1104_1139         0            7            7
2018_1104_1149         0            7           14
2018_1104_1153         0            7            3
2018_1104_1155         0            7            3
2018_1104_1166         0            7            7
2018_1104_1181         0            7            2
2018_1104_1190         0            7           13
2018_1104_1195         0            7           16
2018_1104_1196         0            7            6
2018_1104_1199         0            7            8
2018_1104_1211         0            7            5
2018_1104_1217         0            7           16
2018_1104_1222         0            7            9
2018_1104_1242         0            7            1
2018_1104_1243         0            7           11
2018_1104_1246         0            7            6
2018_1104_1257         0            7           10
2018_1104_1260         0            7           12
2018_1104_1274         0            7            8
2018_1104_1276         0            7            5
2018_1104_1277         0            7            2
2018_1104_1281         0            7            7
...                  ...          ...          ...
2018_1437_1460         0            1           15
2018_1437_1462         0            1            1
2018_1438_1439         0            1           10
2018_1438_1447         0            1           16
2018_1438_1452         0            1            5
2018_1438_1455         0            1            4
2018_1438_1457         0            1           15
2018_1438_1460         0            1           15
2018_1438_1462         0            1            1
2018_1439_1447         0           10           16
2018_1439_1452         0           10            5
2018_1439_1455         0           10            4
2018_1439_1457         0           10           15
2018_1439_1460         0           10           15
2018_1439_1462         0           10            1
2018_1447_1452         0           16            5
2018_1447_1455         0           16            4
2018_1447_1457         0           16           15
2018_1447_1460         0           16           15
2018_1447_1462         0           16            1
2018_1452_1455         0            5            4
2018_1452_1457         0            5           15
2018_1452_1460         0            5           15
2018_1452_1462         0            5            1
2018_1455_1457         0            4           15
2018_1455_1460         0            4           15
2018_1455_1462         0            4            1
2018_1457_1460         0           15           15
2018_1457_1462         0           15            1
2018_1460_1462         0           15            1

[2278 rows x 3 columns]