## Betfair

In [548]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [549]:
from src.bets.api import BetsAPI
from betfairlightweight import APIClient
uname = os.environ['betfair_username']
pword = os.environ['betfair_password']
key = os.environ['betfair_key']
bf = APIClient(uname, pword, app_key=key,
               certs='/Users/jonaspaulwestermann/Dev/marchmadness/certs',
               locale='spain', lightweight=True)
bets = BetsAPI(bf, league_name='NCAAB', bet_type='MATCH_ODDS', currency='EUR', allow_local_load=False)
print(runners.shape)
bets.runners.sample()

(20, 5)

,handicap,runnerName,selectionId,sortPriority,runnerId,bettingType,bspMarket,discountAllowed,marketBaseRate,marketTime,...,turnInPlayEnabled,wallet,eventId,eventName,openDate,timezone,price_back,size_back,price_lay,size_lay
marketId,,,,,,,,,,,,,,,,,,,,,
1.141205878,0,Alabama,332212,1,332212,ODDS,False,True,6.5,2018-03-10T18:00:00.000Z,...,True,UK wallet,28627671,Alabama @ Kentucky,2018-03-10T18:00:00.000Z,GMT,NaN,NaN,NaN,NaN

In [550]:
bets.runners.groupby(['eventName', 'sortPriority', 'runnerName'])\
    .agg({'price_back': ['min', 'max'], 'price_lay': ['min', 'max']})\
    .sort_index()

                                                         price_back        \
                                                                min   max
eventName                   sortPriority runnerName
Alabama @ Kentucky          1            Alabama                NaN   NaN
                            2            Kentucky               NaN   NaN
Cornell @ Harvard           1            Cornell                NaN   NaN
                            2            Harvard               1.36  1.36
MD Baltimore Co @ Vermont   1            MD Baltimore Co        NaN   NaN
                            2            Vermont               1.14  1.14
Memphis U @ Cincinnati      1            Memphis U              NaN   NaN
                            2            Cincinnati            1.03  1.03
St. Josephs @ Rhode Island  1            St. Josephs            NaN   NaN
                            2            Rhode Island           NaN   NaN
UT Arlington @ UL Lafayette 1            UT Arlington           NaN   NaN
                            2            UL Lafayette          1.30  1.30
Yale @ Pennsylvania         1            Yale                   NaN   NaN
                            2            Pennsylvania           NaN   NaN

                                                         price_lay
                                                               min   max
eventName                   sortPriority runnerName
Alabama @ Kentucky          1            Alabama               NaN   NaN
                            2            Kentucky              NaN   NaN
Cornell @ Harvard           1            Cornell               3.8   3.8
                            2            Harvard               NaN   NaN
MD Baltimore Co @ Vermont   1            MD Baltimore Co       8.2   8.2
                            2            Vermont               NaN   NaN
Memphis U @ Cincinnati      1            Memphis U            36.0  36.0
                            2            Cincinnati            NaN   NaN
St. Josephs @ Rhode Island  1            St. Josephs           NaN   NaN
                            2            Rhode Island          NaN   NaN
UT Arlington @ UL Lafayette 1            UT Arlington          4.4   4.4
                            2            UL Lafayette          NaN   NaN
Yale @ Pennsylvania         1            Yale                  NaN   NaN
                            2            Pennsylvania          NaN   NaN