## Betfair

In [10]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
from src.bets.api import BetsAPI
from betfairlightweight import APIClient
uname = os.environ['betfair_username']
pword = os.environ['betfair_password']
key = os.environ['betfair_key']
bf = APIClient(uname, pword, app_key=key,
               certs='/Users/jonaspaulwestermann/Dev/marchmadness/certs',
               locale='spain', lightweight=True)
bets = BetsAPI(bf, league_name='NCAAB', bet_type='MATCH_ODDS', currency='EUR', allow_local_load=True)
print(bets.runners.shape)
bets.runners.sample()

(14, 30)

,handicap,runnerName,selectionId,sortPriority,runnerId,bettingType,bspMarket,discountAllowed,marketBaseRate,marketTime,...,eventName,openDate,timezone,price,size,external_name,external_id,TeamName,FirstD1Season,LastD1Season
10,0,UT Arlington,6840558,1,6840558,ODDS,False,True,6.5,2018-03-10T17:30:00.000Z,...,UT Arlington @ UL Lafayette,2018-03-10T17:30:00.000Z,GMT,3.7,38,UT Arlington,1426,UT Arlington,1985,2018

In [40]:
bets.runners.groupby(['eventName', 'sortPriority', 'runnerName', 'external_id'])\
    .agg({'price': ['min', 'max']})\
    .sort_index()

                                                                      price  \
                                                                        min
eventName                   sortPriority runnerName      external_id
Alabama @ Kentucky          1            Alabama         1104           NaN
                            2            Kentucky        1246           NaN
Cornell @ Harvard           1            Cornell         1165          3.80
                            2            Harvard         1217          1.36
MD Baltimore Co @ Vermont   1            MD Baltimore Co 1271          8.20
                            2            Vermont         1436          1.14
Memphis U @ Cincinnati      1            Memphis U       1272         36.00
                            2            Cincinnati      1153          1.03
St. Josephs @ Rhode Island  1            St. Josephs     1386           NaN
                            2            Rhode Island    1348           NaN
UT Arlington @ UL Lafayette 1            UT Arlington    1426          3.70
                            2            UL Lafayette    1248          1.37
Yale @ Pennsylvania         1            Yale            1463           NaN
                            2            Pennsylvania    1342           NaN


                                                                        max
eventName                   sortPriority runnerName      external_id
Alabama @ Kentucky          1            Alabama         1104           NaN
                            2            Kentucky        1246           NaN
Cornell @ Harvard           1            Cornell         1165          3.80
                            2            Harvard         1217          1.36
MD Baltimore Co @ Vermont   1            MD Baltimore Co 1271          8.20
                            2            Vermont         1436          1.14
Memphis U @ Cincinnati      1            Memphis U       1272         36.00
                            2            Cincinnati      1153          1.03
St. Josephs @ Rhode Island  1            St. Josephs     1386           NaN
                            2            Rhode Island    1348           NaN
UT Arlington @ UL Lafayette 1            UT Arlington    1426          3.70
                            2            UL Lafayette    1248          1.37
Yale @ Pennsylvania         1            Yale            1463           NaN
                            2            Pennsylvania    1342           NaN