## Betfair

In [47]:
%load_ext autoreload
%autoreload 2
import os
import numpy as np
import pandas as pd
import datetime as dt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [48]:
from src.bets.api import BetSet
from betfairlightweight import APIClient
uname = os.environ['betfair_username']
pword = os.environ['betfair_password']
key = os.environ['betfair_key']
bf = APIClient(uname, pword, app_key=key,
               certs='/Users/jonaspaulwestermann/Dev/marchmadness/certs',
               locale='spain', lightweight=True)
bets = BetSet(bf, league_name='NCAAB', bet_type='MATCH_ODDS', currency='EUR', allow_local_load=False)
print(bets.odds.shape)
bets.odds

(14, 2)

                                                                       min  \
eventName                   sortPriority runnerName      external_id
Alabama @ Kentucky          1            Alabama         1104         2.44
                            2            Kentucky        1246         1.53
Cornell @ Harvard           1            Cornell         1165         3.70
                            2            Harvard         1217         1.37
MD Baltimore Co @ Vermont   1            MD Baltimore Co 1271         5.50
                            2            Vermont         1436         1.15
Memphis U @ Cincinnati      1            Memphis U       1272         8.00
                            2            Cincinnati      1153         1.03
St. Josephs @ Rhode Island  1            St. Josephs     1386         4.70
                            2            Rhode Island    1348         1.26
UT Arlington @ UL Lafayette 1            UT Arlington    1426         2.88
                            2            UL Lafayette    1248         1.34
Yale @ Pennsylvania         1            Yale            1463         3.00
                            2            Pennsylvania    1342         1.35

                                                                        max
eventName                   sortPriority runnerName      external_id
Alabama @ Kentucky          1            Alabama         1104          2.90
                            2            Kentucky        1246          1.69
Cornell @ Harvard           1            Cornell         1165          3.70
                            2            Harvard         1217          1.37
MD Baltimore Co @ Vermont   1            MD Baltimore Co 1271          7.80
                            2            Vermont         1436          1.22
Memphis U @ Cincinnati      1            Memphis U       1272         36.00
                            2            Cincinnati      1153          1.14
St. Josephs @ Rhode Island  1            St. Josephs     1386          4.90
                            2            Rhode Island    1348          1.27
UT Arlington @ UL Lafayette 1            UT Arlington    1426          3.95
                            2            UL Lafayette    1248          1.53
Yale @ Pennsylvania         1            Yale            1463          3.90
                            2            Pennsylvania    1342          1.50